/*------------------------------------*\
  Variables
\*------------------------------------*/
/*------------------------------------*\
  Import Section
\*------------------------------------*/
/*------------------------------------*\
  General Document Styles
\*------------------------------------*/
::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: #E6007E;
  color: #fff;
}

::selection {
  background-color: #E6007E;
  color: #fff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea {
  outline: none;
}

input:focus:required:invalid, textarea:focus:required:invalid {
  border-color: red;
}

input:required:valid, textarea:required:valid {
  border-color: green;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: #E6007E;
}

/*------------------------------------*\
  Layout and structure blocks
\*------------------------------------*/
.container {
  position: relative;
  width: 100%;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    width: 686px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 862px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1120px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1520px;
  }
}

/*------------------------------------*\
  Sticky Footer
  HTML Structure
  .page
    .page-body
    .page-footer
\*------------------------------------*/
.page {
  position: relative;
  height: 100%;
  padding-top: 125px;
}

.page-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.page-footer {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.page-no-top-gap {
  padding-top: 0;
}

@media (min-width: 768px) {
  .page {
    padding-top: 118px;
  }

  .page-no-top-gap {
    padding-top: 0;
  }
}

@media (min-width: 1280px) {
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 0;
  }
}

/*------------------------------------*\
  Page Title
\*------------------------------------*/
.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.title-block .breadcrumbs {
  display: none;
}

.title-block-text {
  max-width: 1080px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media (min-width: 768px) {
  .title-block {
    padding-top: 4px;
  }

  .title-block .title {
    margin-bottom: 2px;
  }

  .title-block .breadcrumbs {
    display: block;
  }
}

@media (min-width: 1024px) {
  .title-block {
    margin-top: 40px;
    margin-bottom: 35px;
  }

  .title-block .breadcrumbs {
    margin-top: 5px;
  }

  .title-block-text {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: 1280px) {
  .title-block {
    margin-top: 52px;
  }

  .title-block .breadcrumbs {
    margin-top: 0;
  }

  .title-block-text {
    margin-top: 40px;
  }
}

.title h1, .title h2, .title h3 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.title-semibold h1, .title-semibold h2, .title-semibold h3 {
  font-weight: 500;
}

.title-medium h1, .title-medium h2, .title-medium h3 {
  margin-bottom: 19px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .title h1, .title h2 {
    font-size: 36px;
    line-height: 36px;
  }

  .title-medium h1, .title-medium h2, .title-medium h3 {
    margin-bottom: 19px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {
  .title h1, .title h2 {
    font-size: 42px;
    line-height: 51px;
  }

  .title-medium h1, .title-medium h2, .title-medium h3 {
    margin-bottom: 55px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
  }
}

/*------------------------------------*\
  Social links
\*------------------------------------*/
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-item {
  display: block;
  width: 40px;
  height: 40px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
}

.social-item:not(:last-child) {
  margin-right: 20px;
}

.social-item-fb {
  width: 21px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256.02' height='512' viewBox='0 0 256.02 512'%3E%3Cpath d='M209.28,85H256V3.61C248,2.5,220.22,0,187.93,0,120.53,0,74.37,42.39,74.37,120.3V192H0v91H74.37V512h91.18V283h71.36l11.32-91h-82.7v-62.7c0-26.3,7.1-44.31,43.75-44.31Z'/%3E%3C/svg%3E");
}

.social-item-in {
  width: 39px;
  height: 38px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cpath d='M33.48,50A16.67,16.67,0,1,1,50.14,66.67,16.67,16.67,0,0,1,33.48,50Zm-9,0A25.68,25.68,0,1,0,50.14,24.33,25.67,25.67,0,0,0,24.47,50ZM70.84,23.31a6,6,0,0,0,1,3.33,5.88,5.88,0,0,0,2.69,2.21A5.94,5.94,0,0,0,78,29.2a6.07,6.07,0,0,0,3.08-1.65,5.91,5.91,0,0,0,1.64-3.07A6,6,0,0,0,82.38,21a6,6,0,0,0-5.54-3.71h0a6,6,0,0,0-6,6ZM29.94,90.7A27.72,27.72,0,0,1,20.66,89a15.48,15.48,0,0,1-5.75-3.74,15.36,15.36,0,0,1-3.74-5.75,27.46,27.46,0,0,1-1.72-9.28c-.24-5.27-.29-6.86-.29-20.21s.05-14.93.29-20.21a27.72,27.72,0,0,1,1.72-9.28,15.56,15.56,0,0,1,3.74-5.75A15.36,15.36,0,0,1,20.66,11,27.46,27.46,0,0,1,29.94,9.3C35.21,9.06,36.8,9,50.14,9s14.94.05,20.21.29A27.8,27.8,0,0,1,79.64,11a15.44,15.44,0,0,1,5.75,3.74,15.56,15.56,0,0,1,3.74,5.75,27.74,27.74,0,0,1,1.72,9.29c.24,5.27.29,6.85.29,20.2s0,14.93-.29,20.21a28,28,0,0,1-1.72,9.28A16.55,16.55,0,0,1,79.64,89a27.48,27.48,0,0,1-9.29,1.72c-5.27.24-6.85.29-20.21.29s-14.93,0-20.2-.29ZM29.53.3A36.79,36.79,0,0,0,17.39,2.63,24.43,24.43,0,0,0,8.54,8.39a24.41,24.41,0,0,0-5.77,8.86A36.51,36.51,0,0,0,.45,29.39C.2,34.72.14,36.42.14,50S.2,65.28.45,70.61A36.51,36.51,0,0,0,2.77,82.75a24.41,24.41,0,0,0,5.77,8.86,24.61,24.61,0,0,0,8.85,5.76A36.85,36.85,0,0,0,29.53,99.7c5.33.24,7,.3,20.61.3s15.29-.06,20.62-.3A36.79,36.79,0,0,0,82.9,97.37,25.55,25.55,0,0,0,97.52,82.75a36.51,36.51,0,0,0,2.32-12.14c.24-5.33.3-7,.3-20.61s-.06-15.28-.3-20.61a36.51,36.51,0,0,0-2.32-12.14,24.63,24.63,0,0,0-5.77-8.86A24.43,24.43,0,0,0,82.9,2.63,36.54,36.54,0,0,0,70.76.3c-5.33-.24-7-.3-20.61-.3S34.87.06,29.53.3' transform='translate(-0.14)'/%3E%3C/svg%3E");
}

.social-item-in-accent {
  width: 39px;
  height: 38px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23E6007E' viewBox='0 0 100 100'%3E%3Cpath d='M33.48,50A16.67,16.67,0,1,1,50.14,66.67,16.67,16.67,0,0,1,33.48,50Zm-9,0A25.68,25.68,0,1,0,50.14,24.33,25.67,25.67,0,0,0,24.47,50ZM70.84,23.31a6,6,0,0,0,1,3.33,5.88,5.88,0,0,0,2.69,2.21A5.94,5.94,0,0,0,78,29.2a6.07,6.07,0,0,0,3.08-1.65,5.91,5.91,0,0,0,1.64-3.07A6,6,0,0,0,82.38,21a6,6,0,0,0-5.54-3.71h0a6,6,0,0,0-6,6ZM29.94,90.7A27.72,27.72,0,0,1,20.66,89a15.48,15.48,0,0,1-5.75-3.74,15.36,15.36,0,0,1-3.74-5.75,27.46,27.46,0,0,1-1.72-9.28c-.24-5.27-.29-6.86-.29-20.21s.05-14.93.29-20.21a27.72,27.72,0,0,1,1.72-9.28,15.56,15.56,0,0,1,3.74-5.75A15.36,15.36,0,0,1,20.66,11,27.46,27.46,0,0,1,29.94,9.3C35.21,9.06,36.8,9,50.14,9s14.94.05,20.21.29A27.8,27.8,0,0,1,79.64,11a15.44,15.44,0,0,1,5.75,3.74,15.56,15.56,0,0,1,3.74,5.75,27.74,27.74,0,0,1,1.72,9.29c.24,5.27.29,6.85.29,20.2s0,14.93-.29,20.21a28,28,0,0,1-1.72,9.28A16.55,16.55,0,0,1,79.64,89a27.48,27.48,0,0,1-9.29,1.72c-5.27.24-6.85.29-20.21.29s-14.93,0-20.2-.29ZM29.53.3A36.79,36.79,0,0,0,17.39,2.63,24.43,24.43,0,0,0,8.54,8.39a24.41,24.41,0,0,0-5.77,8.86A36.51,36.51,0,0,0,.45,29.39C.2,34.72.14,36.42.14,50S.2,65.28.45,70.61A36.51,36.51,0,0,0,2.77,82.75a24.41,24.41,0,0,0,5.77,8.86,24.61,24.61,0,0,0,8.85,5.76A36.85,36.85,0,0,0,29.53,99.7c5.33.24,7,.3,20.61.3s15.29-.06,20.62-.3A36.79,36.79,0,0,0,82.9,97.37,25.55,25.55,0,0,0,97.52,82.75a36.51,36.51,0,0,0,2.32-12.14c.24-5.33.3-7,.3-20.61s-.06-15.28-.3-20.61a36.51,36.51,0,0,0-2.32-12.14,24.63,24.63,0,0,0-5.77-8.86A24.43,24.43,0,0,0,82.9,2.63,36.54,36.54,0,0,0,70.76.3c-5.33-.24-7-.3-20.61-.3S34.87.06,29.53.3' transform='translate(-0.14)'/%3E%3C/svg%3E");
}

.social-item-tw {
  width: 37px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='543.68' height='460.39' viewBox='0 0 543.68 460.39'%3E%3Cpath d='M527.66,106.7q-4,1.17-8,2.19c-16.39,4.14-17.89-1.32-6-13.37a109.26,109.26,0,0,0,14.08-17.6c9.14-14.22,1.21-20.42-14.33-13.78q-8.33,3.56-16.9,6.43c-16,5.38-38.75-2.73-53-11.79q-27-17.13-61.44-17.13-48.19,0-82.19,34t-34,82.19a121.63,121.63,0,0,0,.75,13.38c.81,7.36-11.59,12.7-28.32,10.34a321.61,321.61,0,0,1-103.17-32.89A330.88,330.88,0,0,1,49.49,85.71c-11.82-12.09-27.8-11-32.22,5.27a116.58,116.58,0,0,0-3.95,30.52,113.2,113.2,0,0,0,14,55.39,119.38,119.38,0,0,0,16.35,23C54.22,211.43,52.61,218.14,38,214s-25.37-10.2-25.37-9.8V205Q12.59,247,39,278.86a115.58,115.58,0,0,0,37.83,30.28c15.15,7.5,22.2,11.69,13.73,12.78a118.48,118.48,0,0,1-15.42,1q-5.25,0-11-.49c-6.06-.51-7.15,12.11,2,26.3a116.26,116.26,0,0,0,28,29.76,113.81,113.81,0,0,0,37.41,18.8c16.26,4.63,19.52,13.07,5,21.76Q82.88,451.33,17.62,451.33q-7.35,0-14-.33C-4.18,450.63,1,457.46,16,465.3Q86.16,502.05,168,502q61.86,0,116.18-19.6t92.79-52.52a351.3,351.3,0,0,0,66.36-75.71,337.43,337.43,0,0,0,41.55-89.37A330.52,330.52,0,0,0,498.5,171.5c0-2.81,0-5.34-.06-7.56-.09-4.17,10.95-15.47,23.28-27q8.34-7.83,15.93-16.44C548.83,107.78,543.88,102,527.66,106.7Z' transform='translate(0 -41.65)'/%3E%3C/svg%3E%0A");
}

.social-small .social-item-in {
  width: 23px;
  height: 23px;
}

.social-small .social-item-fb {
  width: 12px;
  height: 23px;
}

.social-small .social-item-tw {
  width: 23px;
  height: 19px;
}

/*------------------------------------*\
  Breadcrumbs
\*------------------------------------*/
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 15px;
}

.breadcrumbs li {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.breadcrumbs li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #E6007E;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.breadcrumbs li:not(:last-child):after {
  content: '>';
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.breadcrumbs li:last-child a {
  color: #000;
  pointer-events: none;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

/*------------------------------------*\
  Content Text Blocks
\*------------------------------------*/
.content {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.content p {
  margin-top: 0;
}

@media (min-width: 768px) {
  .content-about {
    width: 680px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .content {
    margin-bottom: 80px;
    font-size: 20px;
    line-height: 24px;
  }

  .content-about {
    width: 858px;
  }
}

@media (min-width: 1280px) {
  .content-about {
    width: 1100px;
  }
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*------------------------------------*\
  Team
\*------------------------------------*/
.team-block {
  margin-top: 60px;
  margin-bottom: 75px;
}

.team-block .team-member:not(:last-child) {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .team-block {
    margin-top: 99px;
  }
}

.team-member-title {
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

.team-member-avatar {
  display: block;
  width: 221px;
  height: auto;
  margin: 0 auto 18px;
  border-radius: 100%;
}

.team-member-subtitle {
  margin-bottom: 19px;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
}

.team-member-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
}

.team-member-text a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .team-member {
    width: 608px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .team-member {
    width: 860px;
  }

  .team-member-title {
    font-size: 30px;
    line-height: 37px;
  }

  .team-member-subtitle {
    margin-bottom: 14px;
  }
}

@media (min-width: 1280px) {
  .team-member {
    width: 1152px;
  }
}

.reviews {
  margin-bottom: 70px;
  text-align: center;
}

.reviews-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.reviews-link {
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 1280px) {
  .reviews {
    margin-bottom: 90px;
  }
}

.models-nav-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
}

.models-nav-text ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.models-nav-text ul li {
  text-align: center;
}

.models-nav-text ul li:not(:last-child) {
  margin-bottom: 12px;
}

.models-nav-text ul li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: 768px) {
  .models-nav-text {
    display: none;
  }
}

/*------------------------------------*\
  Logo Grids
\*------------------------------------*/
.logo-clients-wrap {
  display: none;
}

@media (min-width: 768px) {
  .logo-clients-wrap {
    display: block;
    width: 630px;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  .logo-clients-wrap .title {
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .logo-clients-wrap {
    width: 860px;
  }
}

@media (min-width: 1280px) {
  .logo-clients-wrap {
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .logo-clients-wrap {
    width: 1300px;
  }
}

.logo-clients {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}

.logo-clients-item {
  display: inline-block;
  margin: 15px;
}

.logo-clients-item svg,
    .logo-clients-item picture,
    .logo-clients-item img {
  display: block;
  width: auto;
  max-width: 100%;
  height: 36px;
  margin: 0 auto;
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.logo-clients-item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

@media (min-width: 1280px) {
  .logo-clients-item svg,
    .logo-clients-item picture,
    .logo-clients-item img {
    height: 50px;
  }
}

/*------------------------------------*\
  Person Info
\*------------------------------------*/
.person-info {
  margin-top: 22px;
  margin-bottom: 60px;
}

.person-info-data {
  text-align: center;
  font-weight: 300;
  line-height: 24px;
  font-size: 20px;
}

.person-info-insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5px;
}

.person-info-insta .social-item {
  width: 26px;
  height: 26px;
}

.person-info-insta-name {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #E6007E;
  text-decoration: none;
}

.person-info-insta-subs {
  margin-top: 3px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

@media (min-width: 1024px) {
  .person-info {
    margin-top: 47px;
    margin-bottom: 79px;
  }

  .person-info-insta {
    margin-top: 29px;
  }
}

/*------------------------------------*\
  Tabs
\*------------------------------------*/
.tab-head {
  margin: 20px 0 40px;
}

.tab-head-btn {
  margin: 5px 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #E6007E;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.tab-head-btn.active {
  color: #000;
}

@media (min-width: 768px) {
  .tab-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .tab-head-btn {
    padding: 6.5px 30px;
    color: #000;
    font-size: 24px;
    line-height: 1;
    text-transform: capitalize;
  }

  .tab-head-btn.active {
    background-color: #000;
    color: #fff;
  }

  .tab-head-mob {
    display: none;
  }
}

@media (min-width: 1024px) {
  .tab-head {
    margin: 20px 0 60px;
  }
}

.tab-body-item {
  display: none;
}

.tab-body-title-mob {
  display: none;
}

@media (min-width: 768px) {
  .tab-body-title-mob {
    display: block;
  }
}

/*------------------------------------*\
  More Links Block
\*------------------------------------*/
.more-link-block {
  margin-top: 60px;
}

.more-link-block-title h1, .more-link-block-title h2, .more-link-block-title h3, .more-link-block-title h4 {
  margin: 0 0 40px;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}

@media (min-width: 1280px) {
  .more-link-block-title h1, .more-link-block-title h2, .more-link-block-title h3, .more-link-block-title h4 {
    font-size: 32px;
    line-height: 39px;
  }
}

@media (min-width: 1600px) {
  .more-link-block-title h1, .more-link-block-title h2, .more-link-block-title h3, .more-link-block-title h4 {
    margin: 0 0 28px;
    font-size: 36px;
    line-height: 44px;
  }
}

.more-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}

.more-link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 360px;
  height: 140px;
  padding: 20px;
  border: 1px solid #C4C4C4;
  text-decoration: none;
}

.more-link-item:not(:last-child) {
  margin-bottom: 30px;
}

.more-link-img {
  width: 100px;
  height: 100px;
  margin-right: 40px;
}

.more-link-title {
  font-weight: 300;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 767px) {
  .more-link {
    display: none;
  }
}

@media (min-width: 1280px) {
  .more-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
  }

  .more-link-item {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .more-link-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 1600px) {
  .more-link {
    margin-left: -40px;
    margin-bottom: 53px;
  }

  .more-link-item {
    margin-left: 40px;
  }
}

/*------------------------------------*\
  Choose Region Map
\*------------------------------------*/
.map-region-tabs {
  display: none;
}

@media (min-width: 768px) {
  .map-region-tabs {
    display: block;
    max-width: 1005px;
    margin: 0 auto 50px;
  }

  .map-region-tabs svg {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.map-region .tab-head-btn path {
  fill: #e5e5e5;
}

.map-region .tab-head-btn .map-region-title {
  fill: #000;
}

.map-region .tab-head-btn.active path {
  fill: #000;
}

.map-region .tab-head-btn.active path.map-region-title {
  fill: #fff !important;
}

/*------------------------------------*\
  Map Location
\*------------------------------------*/
#map {
  width: 100%;
  height: 500px;
}

.map-mob {
  width: 100%;
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 1024px) {
  .map-mob {
    display: none;
  }
}

@media (max-width: 1023px) {
  .map-desk {
    height: 0 !important;
    opacity: 0;
    visibility: hidden;
  }
}

.list-brand-mob {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-brand-mob li a {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #E6007E;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 768px) {
  .list-brand-mob {
    display: none;
  }
}

.logo-brand {
  display: none;
}

@media (min-width: 768px) {
  .logo-brand {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .logo-brand-item {
    display: inline-block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
    height: 161px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 0 4px 8px;
  }

  .logo-brand-item svg,
        .logo-brand-item picture,
        .logo-brand-item img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
  }

  .logo-brand-item:hover svg,
        .logo-brand-item:hover picture,
        .logo-brand-item:hover img, .logo-brand-item:active svg,
        .logo-brand-item:active picture,
        .logo-brand-item:active img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .logo-brand-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 40px;
    height: 100%;
    border: 1px solid #c4c4c4;
  }
}

@media (min-width: 1024px) {
  .logo-brand {
    width: 760px;
    margin: 0 auto;
  }

  .logo-brand-item {
    height: 178px;
    padding: 0 5px 10px;
  }
}

@media (min-width: 1280px) {
  .logo-brand {
    width: 1020px;
    margin: 0 auto;
  }

  .logo-brand-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 5px 10px;
  }
}

@media (min-width: 1600px) {
  .logo-brand {
    width: 100%;
  }

  .logo-brand-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6%;
    flex: 0 0 16.6%;
  }
}

.contacts-info {
  margin: 40px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 5.5px 47.5px;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 17px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

/*------------------------------------*\
  Header
\*------------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.header-fixed {
  position: fixed;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 48px 35px 48px;
}

.header-logo {
  display: block;
  width: 90px;
  height: 60px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.header-nav-top {
  display: none;
}

.header-icon {
  position: relative;
  top: 4px;
  margin-left: auto;
}

.header-nav-top {
  display: none;
}

.header-nav-bottom {
  display: none;
}

.header-phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}

.header-bg-transparent {
  background-color: transparent;
}

@media (min-width: 768px) {
  .header-fixed {
    position: fixed;
  }

  .header-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px 0 35px;
  }

  .header-logo {
    width: 240px;
    height: 58px;
  }

  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
    width: 100%;
    margin-right: 56px;
  }

  .header-nav-top {
    display: block;
    margin-left: auto;
  }

  .header-nav-bottom {
    margin-left: auto;
  }

  .header-bg-transparent {
    background-color: transparent;
  }
}

@media (min-width: 1024px) {
  .header-fixed {
    position: fixed;
  }

  .header-icon {
    display: none;
  }

  .header-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header-menu {
    position: relative;
    top: 4px;
    display: block;
    margin-left: auto;
    margin-right: 242px;
  }

  .header-nav {
    margin-right: 0;
  }

  .header-nav-top {
    margin-bottom: 4px;
  }

  .header-nav-bottom {
    display: block;
  }

  .header-bg-transparent {
    background-color: transparent;
  }
}

@media (min-width: 1280px) {
  .header {
    position: relative;
  }

  .header-fixed {
    position: fixed;
  }
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-menu li {
  display: inline-block;
}

.header-menu li:not(:last-child) {
  margin-right: 28px;
}

.header-menu li.active a {
  color: #E6007E;
}

.header-menu li a {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}

/*------------------------------------*\
  Header Logo Images + PNG Fallback
\*------------------------------------*/
.webp .header-logo {
  background-image: url(../img/win-logo-cut.webp);
}

.no-webp .header-logo {
  background-image: url(../img/win-logo-cut.png);
}

/*------------------------------------*\
  Nav Burger Icon
\*------------------------------------*/
.nav-icon {
  width: 40px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.nav-icon:hover, .nav-icon:focus {
  outline: none;
}

.nav-icon span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #000;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-icon:before, .nav-icon:after {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  background-color: #000;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-icon:before {
  top: 10px;
  height: 4px;
}

.nav-icon:after {
  top: 20px;
  height: 4px;
}

.nav-icon.active span {
  background-color: #000;
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

.nav-icon.active:before {
  width: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-icon.active:after {
  background-color: #000;
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

@media (min-width: 768px) {
  .nav-icon {
    width: 40px;
    height: 28px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  .nav-icon:hover, .nav-icon:focus {
    outline: none;
  }

  .nav-icon span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 6px;
    background-color: #000;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .nav-icon:before, .nav-icon:after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    background-color: #000;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .nav-icon:before {
    top: 11px;
    height: 6px;
  }

  .nav-icon:after {
    top: 22px;
    height: 6px;
  }

  .nav-icon.active span {
    background-color: #000;
    -webkit-transform: translateY(11px) rotate(45deg);
    -ms-transform: translateY(11px) rotate(45deg);
    transform: translateY(11px) rotate(45deg);
  }

  .nav-icon.active:before {
    width: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .nav-icon.active:after {
    background-color: #000;
    -webkit-transform: translateY(-11px) rotate(-45deg);
    -ms-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
  }
}

.footer-mob {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-mob-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-mob-copyright {
  width: 250px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 15px;
}

.footer-mob .social-item:not(:last-child) {
  margin-right: 34px;
}

@media (min-width: 1024px) {
  .footer-mob {
    display: none;
  }
}

.footer-menu {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-menu li .active a {
  color: #E6007E;
}

.footer-menu li:not(:last-child) {
  margin-bottom: 5px;
}

.footer-menu li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-transform: none;
  white-space: nowrap;
  text-decoration: none;
}

.footer-desk {
  display: none;
  margin-top: 80px;
}

.footer-desk-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-desk-col:first-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 61px;
  flex: 0 0 61px;
  margin-right: 65px;
}

.footer-desk-col:nth-child(2) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 170px;
  flex: 0 0 170px;
  margin-right: 50px;
}

.footer-desk-col:nth-child(3) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
  margin-right: 50px;
}

.footer-desk-col:last-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 225px;
  flex: 0 0 225px;
}

.footer-desk-logo {
  display: block;
  width: 60px;
  height: 40px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.footer-desk-link {
  display: block;
  width: 180px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.footer-desk-copyright {
  width: 250px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.footer-desk-phone {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
}

.footer-desk-address {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #E6007E;
  text-decoration: none;
}

.footer-desk-madein {
  display: block;
  margin-top: 60px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: #000;
}

@media (min-width: 1024px) {
  .footer-desk {
    display: block;
    padding: 40px 0 50px;
  }
}

@media (min-width: 1280px) {
  .footer-desk {
    display: block;
    padding: 40px 40px 50px;
  }

  .footer-desk-col:first-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 61px;
    flex: 0 0 61px;
    margin-right: 78px;
  }

  .footer-desk-col:nth-child(2) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 170px;
    flex: 0 0 170px;
    margin-right: 50px;
  }

  .footer-desk-col:nth-child(3) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    margin-right: 50px;
  }

  .footer-desk-col:last-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 225px;
    flex: 0 0 225px;
  }
}

@media (min-width: 1600px) {
  .footer-desk {
    padding: 40px 130px 50px;
  }

  .footer-desk-container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footer-desk-col:first-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 225px;
    flex: 0 0 225px;
    margin-right: 0;
  }

  .footer-desk-col:nth-child(2) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 328px;
    flex: 0 0 328px;
    margin-right: 0;
  }

  .footer-desk-col:nth-child(3) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 400px;
    flex: 0 0 400px;
    margin-right: 0;
  }

  .footer-desk-col:last-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 225px;
    flex: 0 0 225px;
  }
}

.webp .footer-desk-logo {
  background-image: url(../img/win-logo-cut.webp);
}

.no-webp .footer-desk-logo {
  background-image: url(../img/win-logo-cut.png);
}

/*------------------------------------*\
  Sidebar
\*------------------------------------*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
  padding: 70px 25px 20px 35px;
  background-color: #fff;
  overflow-y: scroll;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.sidebar-fixed {
  position: fixed;
  top: 0;
  z-index: 3;
}

.sidebar-absolute {
  position: absolute;
  top: 0;
  z-index: 3;
}

.sidebar.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.sidebar .nav-icon {
  position: absolute;
  top: 44px;
  right: 50px;
}

.sidebar-body {
  margin-bottom: 70px;
}

.sidebar-footer .sidebar-link {
  margin-bottom: 22px;
}

.sidebar-footer .sidebar-link:first-child {
  margin-bottom: 60px;
}

.sidebar-link {
  display: block;
  max-width: 260px;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

@media (min-width: 360px) {
  .sidebar {
    padding: 70px 45px 20px 70px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    width: 360px;
    left: auto;
  }
}

@media (min-width: 1280px) {
  .sidebar {
    width: 360px;
    top: 0;
    right: -360px;
    left: initial;
    padding: 70px 45px 20px 70px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    overflow-y: visible;
  }

  .sidebar-header {
    margin-bottom: 69px;
  }

  .sidebar-body {
    margin-bottom: 92px;
  }
}

.sidebar-menu {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar-menu li .active a {
  color: #E6007E;
}

.sidebar-menu li:not(:last-child) {
  margin-bottom: 23px;
}

.sidebar-menu li a {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #000;
  text-transform: none;
  white-space: nowrap;
  text-decoration: none;
}

/*------------------------------------*\
  Mobile Static Image Replacer for Slider
\*------------------------------------*/
.intro-mob {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 1023px) {
  .intro-mob {
    display: none;
  }
}

.intro-desk {
  display: none;
}

@media (min-width: 1024px) {
  .intro-desk {
    display: block;
  }
}

/*------------------------------------*\
  Team
\*------------------------------------*/
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 100vw;
  height: 100vh;
}

.swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

/*------------------------------------*\
  Grids
\*------------------------------------*/
.grid-img-small {
  display: none;
}

@media (min-width: 768px) {
  .grid-img-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .grid-img-small-item {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(25% - 14px);
    flex: 0 0 calc(25% - 14px);
    overflow: hidden;
  }

  .grid-img-small-title {
    position: absolute;
    bottom: 19px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .grid-img-small-title div {
    position: relative;
    text-align: center;
    color: #fff;
  }

  .grid-img-small-title div span, .grid-img-small-title div h1, .grid-img-small-title div h2, .grid-img-small-title div h3 {
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 18px;
    line-height: 20px;
  }

  .grid-img-small-title div:first-child:before, .grid-img-small-title div:last-child:before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(148, 148, 148, 0.6);
  }

  .grid-img-small-title div:first-child {
    margin-bottom: 4px;
  }

  .grid-img-small-title div:first-child:before {
    -webkit-transform: translateX(37px);
    -ms-transform: translateX(37px);
    transform: translateX(37px);
  }

  .grid-img-small-title div:last-child:before {
    -webkit-transform: translateX(-37px);
    -ms-transform: translateX(-37px);
    transform: translateX(-37px);
  }
}

@media (min-width: 1024px) {
  .grid-img-small {
    margin-bottom: 90px;
  }

  .grid-img-small-title {
    font-size: 24px;
    line-height: 26px;
    bottom: 25px;
  }

  .grid-img-small-title div span, .grid-img-small-title div h1, .grid-img-small-title div h2, .grid-img-small-title div h3 {
    font-size: 24px;
    line-height: 26px;
  }

  .grid-img-small-title div:first-child {
    margin-bottom: 5px;
  }

  .grid-img-small-title div:first-child:before {
    -webkit-transform: translateX(47px);
    -ms-transform: translateX(47px);
    transform: translateX(47px);
  }

  .grid-img-small-title div:last-child:before {
    -webkit-transform: translateX(-47px);
    -ms-transform: translateX(-47px);
    transform: translateX(-47px);
  }
}

@media (min-width: 1280px) {
  .grid-img-small {
    margin-bottom: 105px;
  }

  .grid-img-small-title {
    font-size: 30px;
    line-height: 36px;
    bottom: 32px;
  }

  .grid-img-small-title div span, .grid-img-small-title div h1, .grid-img-small-title div h2, .grid-img-small-title div h3 {
    font-size: 30px;
    line-height: 36px;
  }

  .grid-img-small-title div:first-child {
    margin-bottom: 6px;
  }

  .grid-img-small-title div:first-child:before {
    -webkit-transform: translateX(61px);
    -ms-transform: translateX(61px);
    transform: translateX(61px);
  }

  .grid-img-small-title div:last-child:before {
    -webkit-transform: translateX(-61px);
    -ms-transform: translateX(-61px);
    transform: translateX(-61px);
  }
}

@media (min-width: 1600px) {
  .grid-img-small {
    margin-bottom: 80px;
  }

  .grid-img-small-title {
    font-size: 34px;
    line-height: 42px;
    bottom: 46px;
  }

  .grid-img-small-title div span, .grid-img-small-title div h1, .grid-img-small-title div h2, .grid-img-small-title div h3 {
    font-size: 34px;
    line-height: 42px;
  }

  .grid-img-small-title div:first-child {
    margin-bottom: 9px;
  }

  .grid-img-small-title div:first-child:before {
    -webkit-transform: translateX(67px);
    -ms-transform: translateX(67px);
    transform: translateX(67px);
  }

  .grid-img-small-title div:last-child:before {
    -webkit-transform: translateX(-67px);
    -ms-transform: translateX(-67px);
    transform: translateX(-67px);
  }
}

.grid-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: -15px;
  margin-bottom: 25px;
}

.grid-img-item {
  display: block;
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 225px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.grid-img-item img {
  height: 100%;
}

.grid-img-title {
  position: absolute;
  bottom: 15px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.grid-img-title:before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(148, 148, 148, 0.6);
}

.grid-img-title div {
  position: relative;
  text-align: center;
  color: #fff;
}

.grid-img-title-transparent h1, .grid-img-title-transparent h2, .grid-img-title-transparent h3 {
  position: absolute;
  bottom: 15px;
  width: 100%;
  padding: 0 11px;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 768px) {
  .grid-img {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: -18px;
  }

  .grid-img-item {
    position: relative;
    overflow: hidden;
    width: 216px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 216px;
    flex: 0 0 216px;
    height: 326px;
    margin-bottom: 18px;
    margin-left: 18px;
  }

  .grid-img-title {
    font-size: 18px;
    line-height: 23px;
  }

  .grid-img-title-bg {
    bottom: 21px;
  }

  .grid-img-title-transparent h1, .grid-img-title-transparent h2, .grid-img-title-transparent h3 {
    padding: 0 16px;
    padding-bottom: 21px;
  }
}

@media (min-width: 1024px) {
  .grid-img {
    margin-left: -22px;
  }

  .grid-img-item {
    width: 270px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 270px;
    flex: 0 0 270px;
    height: 410px;
    margin-left: 22px;
    margin-bottom: 22px;
  }

  .grid-img-title {
    font-size: 30px;
    line-height: 30px;
  }

  .grid-img-title-bg {
    bottom: 27px;
  }

  .grid-img-title-transparent h1, .grid-img-title-transparent h2, .grid-img-title-transparent h3 {
    bottom: 26px;
    padding: 0 21px;
    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: 1280px) {
  .grid-img {
    margin-left: -28px;
  }

  .grid-img-item {
    width: 354px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 354px;
    flex: 0 0 354px;
    height: 530px;
    margin-left: 28px;
    margin-bottom: 28px;
  }

  .grid-img-title {
    font-size: 37px;
    line-height: 39px;
  }

  .grid-img-title-bg {
    bottom: 35px;
  }

  .grid-img-title-transparent h1, .grid-img-title-transparent h2, .grid-img-title-transparent h3 {
    bottom: 35px;
    font-size: 34px;
    line-height: 42px;
  }

  .grid-img-title-transparent-big h1, .grid-img-title-transparent-big h2, .grid-img-title-transparent-big h3 {
    bottom: 26px;
    font-size: 50px;
    line-height: 50px;
  }
}

@media (min-width: 1600px) {
  .grid-img-item {
    width: 481px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 481px;
    flex: 0 0 481px;
    height: 720px;
    margin-bottom: 38px;
  }

  .grid-img-title {
    bottom: 21px;
    font-size: 34px;
    line-height: 42px;
  }

  .grid-img-title-bg {
    bottom: 48px;
  }

  .grid-img-title-transparent h1, .grid-img-title-transparent h2, .grid-img-title-transparent h3 {
    padding: 0 37px;
    bottom: 48px;
  }
}

.grid-snap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}

.grid-snap-item {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-snap-item img {
  height: 100%;
}

@media (min-width: 768px) {
  .grid-snap-item {
    position: relative;
    overflow: hidden;
    width: 49%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
  }
}

.grid-video-item {
  display: block;
  position: relative;
  overflow: hidden;
  width: 214px;
  height: auto;
  margin: 0 auto 45px;
}

.grid-video-item video {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .grid-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: -26px;
  }

  .grid-video-item {
    position: relative;
    overflow: hidden;
    width: 214px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 214px;
    flex: 0 0 214px;
    margin-bottom: 18px;
    margin-left: 26px;
  }
}

@media (min-width: 1024px) {
  .grid-video {
    margin-left: -22px;
  }

  .grid-video-item {
    width: 270px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 270px;
    flex: 0 0 270px;
    margin-left: 22px;
    margin-bottom: 22px;
  }
}

@media (min-width: 1280px) {
  .grid-video {
    margin-left: -28px;
  }

  .grid-video-item {
    width: 354px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 354px;
    flex: 0 0 354px;
    margin-left: 28px;
    margin-bottom: 28px;
  }
}

@media (min-width: 1600px) {
  .grid-video-item {
    width: 481px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 481px;
    flex: 0 0 481px;
    margin-bottom: 38px;
  }
}

.form-intro {
  margin-top: 50px;
  margin-bottom: 25px;
}

.form-intro-title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 30px;
  line-height: 23px;
}

@media (min-width: 1280px) {
  .form-intro {
    margin-top: 100px;
    margin-bottom: 40px;
  }
}

.form-wrap {
  position: relative;
}

.form-wrap-warning {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  text-align: center;
  color: #E6007E;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.form-wrap-warning-hidden {
  visibility: hidden;
  opacity: 0;
}

.form-wrap-success {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  text-align: center;
  color: #E6007E;
  opacity: 0.9;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.form-wrap-title h1, .form-wrap-title h2, .form-wrap-title h3, .form-wrap-title h4 {
  margin: 50px 0 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.form-wrap-policy {
  max-width: 525px;
  margin: 40px auto 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.form-wrap-policy div {
  margin-bottom: 15px;
}

@media (min-width: 1024px) {
  .form-wrap-title h1, .form-wrap-title h2, .form-wrap-title h3, .form-wrap-title h4 {
    margin: 0 0 71px;
    font-size: 32px;
    line-height: 39px;
  }
}

.form {
  position: relative;
  width: 100%;
}

.form-img {
  display: none;
}

.form-container {
  width: 100%;
  padding: 20px 25px;
  background-color: #eee;
}

.form-container-col {
  position: relative;
}

.form-row {
  position: relative;
  margin-bottom: 18px;
}

.form-row:not(:last-child) {
  margin-bottom: 10px;
}

.form-row label.error {
  position: absolute;
  top: -15px;
  font-size: .8rem;
  color: #E6007E;
}

.form-label {
  margin-bottom: 11px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  text-align: center;
}

.form input[type="text"],
  .form input[type="email"],
  .form textarea {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-weight: 300;
  font-size: 18px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #000;
  text-align: center;
  background-color: #eee;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.form input[type="text"]::-webkit-input-placeholder, .form input[type="email"]::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

.form input[type="text"]::-moz-placeholder, .form input[type="email"]::-moz-placeholder, .form textarea::-moz-placeholder {
  color: #000;
  opacity: 1;
}

.form input[type="text"]:-ms-input-placeholder, .form input[type="email"]:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

.form input[type="text"]::-ms-input-placeholder, .form input[type="email"]::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

.form input[type="text"]::placeholder,
    .form input[type="email"]::placeholder,
    .form textarea::placeholder {
  color: #000;
  opacity: 1;
}

.form input[type="text"]:-ms-input-placeholder,
    .form input[type="email"]:-ms-input-placeholder,
    .form textarea:-ms-input-placeholder {
  color: #000;
}

.form input[type="text"]::-ms-input-placeholder,
    .form input[type="email"]::-ms-input-placeholder,
    .form textarea::-ms-input-placeholder {
  color: #000;
}

.form input[type="text"]:focus,
    .form input[type="email"]:focus,
    .form textarea:focus {
  background-color: #eee;
  color: #E6007E;
}

.form input[type="text"].error,
    .form input[type="email"].error,
    .form textarea.error {
  border-bottom-color: #E6007E;
}

.form input:-webkit-autofill,
  .form input:-webkit-autofill:hover,
  .form input:-webkit-autofill:focus {
  -webkit-text-fill-color: #E6007E;
}

.form textarea {
  margin-bottom: 30px;
  height: 50px;
  resize: none;
}

.form input[type="submit"] {
  display: block;
  width: 152px;
  height: 40px;
  margin: 40px auto 0;
  background-color: transparent;
  border: 1px solid #000;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  outline: none;
  cursor: pointer;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.form input[type="submit"]:hover, .form input[type="submit"]:focus {
  color: #000;
}

.form-file {
  position: relative;
}

.form-file-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #eee;
  border: 1px solid #000;
  color: #000;
}

@media (min-width: 768px) {
  .form-col:last-child {
    width: 375px;
    margin: 0 auto;
  }

  .form input[type="submit"] {
    margin: 36px auto 45px;
  }
}

@media (min-width: 1024px) {
  .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
  }

  .form-row:not(:last-child) {
    margin-bottom: 15px;
  }

  .form-col {
    background-color: #eee;
  }

  .form-col:first-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 386px;
    flex: 0 0 386px;
  }

  .form-col:last-child {
    width: 480px;
    margin: 0;
    padding: 15px 60px 0 45px;
  }

  .form input[type="text"],
    .form input[type="email"],
    .form textarea {
    height: 45px;
  }

  .form-img {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .form-img picture,
      .form-img img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.custom-file .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.custom-file .inputfile + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.custom-file .inputfile:focus + label,
.custom-file .inputfile.has-focus + label {
  outline: none;
}

.custom-file .inputfile + label span {
  display: block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 10px;
  font-size: 16px;
  line-height: 19px;
}

.custom-file .inputfile + label strong {
  display: block;
  width: 152px;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  border: 1px solid #000;
  font-size: 17px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  outline: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .custom-file .inputfile + label {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .custom-file .inputfile + label span {
    margin-top: 0;
    margin-left: 10px;
  }
}
