/*------------------------------------*\
  Variables
\*------------------------------------*/

$color-accent: #E6007E; // Accent Color
$color-text: #000; // Text Color
$fontsize: 16px; // Body Font Size
$lineheight: 1.6; // Document Line Height
$userfont: 'Montserrat', Arial, Helvetica, sans-serif; // User Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;

/*------------------------------------*\
  Import Section
\*------------------------------------*/

//@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
//@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
//@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

/*------------------------------------*\
  General Document Styles
\*------------------------------------*/

::placeholder {
	color: #666;
}
::selection {
	background-color: $color-accent;
	color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input, textarea {
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}

html {
	height: 100%;
}

body {
	height: 100%;
  margin: 0;
  padding: 0;
	font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $color-text;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

img{
	display: block;
  width: 100%;
  height: auto;
}

a {
	color: $color-accent;
}