/*------------------------------------*\
  Layout and structure blocks
\*------------------------------------*/
.container {
  position: relative;
  width: 100%;
  padding: 0 20px;
  @media (min-width: 768px) {
    width: 686px;
    margin: 0 auto;
    padding: 0;
  }
  @media (min-width: 1024px) {
    width: 862px;
    margin: 0 auto;
  }
  @media (min-width: 1280px) {
    width: 1120px;
  }
  @media (min-width: 1600px) {
    width: 1520px;
  }
}

/*------------------------------------*\
  Sticky Footer
  HTML Structure
  .page
    .page-body
    .page-footer
\*------------------------------------*/
.page {
  position: relative;
  height: 100%;
  padding-top: 125px;
  &-body {
    flex: 1 0 auto;
  }
  &-footer {
    position: relative;
    flex-shrink: 0;
  }
  &-no-top-gap {
    padding-top: 0;
  }
  @media (min-width: 768px) {
    padding-top: 118px;
    &-no-top-gap {
      padding-top: 0;
    }
  }
  @media (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
}