.align-center {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 5.5px 47.5px;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 17px;
  color: $color-text;
  text-decoration: none;
  text-transform: uppercase;
}