.footer-mob {
  padding-top: 40px;
  padding-bottom: 40px;
  &-social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &-copyright {
    width: 250px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 15px;
  }
  .social {
    &-item {
      &:not(:last-child) {
        margin-right: 34px;
      }
    }
  }
  @media (min-width: 1024px) {
    display: none;
  }
}

.footer-menu {
  position: relative;
  @include clearlist();
  li {
    .active {
      a {
        color: $color-accent;
      }
    }
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    a {
			font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $color-text;
      text-transform: none;
      white-space: nowrap;
      text-decoration: none;
    }
  }
  @media (min-width: 1280px) {
  }
}

.footer-desk {
  display: none;
  margin-top: 80px;
  &-container {
    display: flex;
    justify-content: space-between;
  }
  &-col {
    &:first-child {
      flex: 0 0 61px;
      margin-right: 65px;
    }
    &:nth-child(2) {
      flex: 0 0 170px;
      margin-right: 50px;
    }
    &:nth-child(3) {
      flex: 0 0 250px;
      margin-right: 50px;
    }
    &:last-child {
      flex: 0 0 225px;
    }
  }
  &-logo {
    display: block;
		width: 60px;
		height: 40px;
		flex: 0 0 60px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: contain;
	}
  &-link {
    display: block;
    width: 180px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: $color-text;
  }
  &-copyright {
    width: 250px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
  &-phone {
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: $color-text;
    text-decoration: none;
  }
  &-address {
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $color-accent;
    text-decoration: none;
  }
  &-madein {
    display: block;
    margin-top: 60px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: $color-text;
  }
  @media (min-width: 1024px) {
    display: block;
    padding: 40px 0 50px;
  }
  @media (min-width: 1280px) {
    display: block;
    padding: 40px 40px 50px;
    &-col {
      &:first-child {
        flex: 0 0 61px;
        margin-right: 78px;
      }
      &:nth-child(2) {
        flex: 0 0 170px;
        margin-right: 50px;
      }
      &:nth-child(3) {
        flex: 0 0 250px;
        margin-right: 50px;
      }
      &:last-child {
        flex: 0 0 225px;
      }
    }
  }
  @media (min-width: 1600px) {
    padding: 40px 130px 50px;
    &-container {
      justify-content: flex-start;
    }
    &-col {
      &:first-child {
        flex: 0 0 225px;
        margin-right: 0;
      }
      &:nth-child(2) {
        flex: 0 0 328px;
        margin-right: 0;
      }
      &:nth-child(3) {
        flex: 0 0 400px;
        margin-right: 0;
      }
      &:last-child {
        flex: 0 0 225px;
      }
    }
  }
}

// add background images + webp fallback
.webp .footer-desk-logo {
  background-image: url(../img/win-logo-cut.webp);
}
.no-webp .footer-desk-logo {
  background-image: url(../img/win-logo-cut.png);
}