.form-intro {
	margin-top: 50px;
	margin-bottom: 25px;
	&-title {
		margin-bottom: 15px;
		font-weight: 600;
		font-size: 30px;
		line-height: 23px;
	}
	@media (min-width: 1280px) {
		margin-top: 100px;
    margin-bottom: 40px;
	}
}

.form-wrap{
	position: relative;
	&-warning{
		position: absolute;
		bottom: -40px;
		left: 0;
		right: 0;
		text-align: center;
		color: $color-accent;
		transition: all ease .5s;
		&-hidden{
			visibility: hidden;
			opacity: 0;
		}
	}
	&-success{
		position: absolute;
		bottom: -40px;
		left: 0;
		right: 0;
		text-align: center;
		color: $color-accent;
		opacity: 0.9;
		transition: all ease .5s;
	}
  &-title {
    h1, h2, h3, h4 {
      margin: 50px 0 18px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &-policy {
    max-width: 525px;
    margin: 40px auto 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    div {
      margin-bottom: 15px;
    }
  }
  @media (min-width: 1024px) {
    &-title {
      h1, h2, h3, h4 {
        margin: 0 0 71px;
        font-size: 32px;
        line-height: 39px;
      }
    }
  }
}

.form{
	position: relative;
	width: 100%;
  &-img {
    display: none;
  }
  &-container {
    width: 100%;
    padding: 20px 25px;
    background-color: #eee;
    &-col {
			position: relative;
    }
  }
	&-row{
		position: relative;
		margin-bottom: 18px;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		label.error {
			position: absolute;
    	top: -15px;
    	font-size: .8rem;
    	color: $color-accent;
		}
	}
	&-label {
		margin-bottom: 11px;
    font-weight: 300;
    font-size: 18px;
		line-height: 22px;
		color: $color-text;
    text-align: center;
	}
	input[type="text"],
	input[type="email"],
	textarea {
		display: block;
		width: 100%;
		height: 50px;
		padding: 10px;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		color: $color-text;
    text-align: center;
		background-color: #eee;
    border: none;
		border-bottom: 2px solid #000;
		outline: none;
		transition: all ease .3s;
		&::placeholder {
		  color: $color-text;
		  opacity: 1;
		}
		&:-ms-input-placeholder {
		  color: $color-text;
		}
		&::-ms-input-placeholder {
		  color: $color-text;
		}
		&:focus {
			background-color: #eee;
      color: $color-accent;
		}
		&.error {
			border-bottom-color: $color-accent;
		}
	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus {
	  -webkit-text-fill-color: $color-accent;
	}
	textarea {
    margin-bottom: 30px;
		height: 50px;
		resize: none;
	}
	input[type="submit"] {
		display: block;
		width: 152px;
		height: 40px;
    margin: 40px auto 0;
		background-color: transparent;
		border: 1px solid #000;
		font-size: 17px;
		font-weight: 300;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
		text-align: center;
		color: $color-text;
		outline: none;
		cursor: pointer;
		transition: all ease .3s;
		&:hover,
		&:focus {
			color: $color-text;
		}
	}
  &-file {
    position: relative;
    &-btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 160px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: #eee;
		  border: 1px solid #000;
      color: $color-text;
    }
  }
	@media (min-width: 768px) {
		&-col {
			&:last-child {
        width: 375px;
        margin: 0 auto;
			}
		}
    input[type="submit"] {
      margin: 36px auto 45px;
    }
	}
	@media (min-width: 1024px) {
    &-container {
      display: flex;
      justify-content: center;
      padding: 0;
      background-color: transparent;
		}
    &-row {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
		&-col {
      background-color: #eee;
			&:first-child {
        flex: 0 0 386px;
			}
			&:last-child {
        width: 480px;
        margin: 0;
        padding: 15px 60px 0 45px;
			}
		}
    input[type="text"],
    input[type="email"],
    textarea {
      height: 45px;
    }
    &-img {
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      picture,
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
	}
}

.custom-file {
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .inputfile + label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .inputfile:focus + label,
  .inputfile.has-focus + label {
    outline: none;
  }
  .inputfile + label span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
  }
  .inputfile + label strong {
    display: block;
		width: 152px;
		height: 40px;
    line-height: 40px;
		background-color: transparent;
		border: 1px solid #000;
		font-size: 17px;
		font-weight: 300;
    text-transform: uppercase;
		text-align: center;
		color: $color-text;
		outline: none;
		cursor: pointer;
  }
  @media (min-width: 768px) {
    .inputfile + label {
      flex-direction: row;
      justify-content: flex-start;
    }
    .inputfile + label span {
      margin-top: 0;
      margin-left: 10px;
    }
  }
}