/*------------------------------------*\
  Grids
\*------------------------------------*/
.grid-img-small {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    &-item {
      position: relative;
      flex: 0 0 calc(25% - 14px);
      overflow: hidden;
    }
    &-title {
      position: absolute;
      bottom: 19px;
      width: 100%;
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      text-transform: uppercase;
      div {
        position: relative;
        text-align: center;
        color: #fff;
        span, h1, h2, h3 {
          position: relative;
          z-index: 1;
          margin: 0;
          font-size: 18px;
          line-height: 20px;
        }
        &:first-child,
        &:last-child {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(148, 148, 148, 0.6);
          }
        }
        &:first-child {
          margin-bottom: 4px;
          &:before {
            transform: translateX(37px);
          }
        }
        &:last-child {
          &:before {
            transform: translateX(-37px);
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    margin-bottom: 90px;
    &-title {
      font-size: 24px;
      line-height: 26px;
      bottom: 25px;
      div {
        span, h1, h2, h3 {
          font-size: 24px;
          line-height: 26px;
        }
        &:first-child {
          margin-bottom: 5px;
          &:before {
            transform: translateX(47px);
          }
        }
        &:last-child {
          &:before {
            transform: translateX(-47px);
          }
        }
      }
    }
  }
  @media (min-width: 1280px) {
    margin-bottom: 105px;
    &-title {
      font-size: 30px;
      line-height: 36px;
      bottom: 32px;
      div {
        span, h1, h2, h3 {
          font-size: 30px;
          line-height: 36px;
        }
        &:first-child {
          margin-bottom: 6px;
          &:before {
            transform: translateX(61px);
          }
        }
        &:last-child {
          &:before {
            transform: translateX(-61px);
          }
        }
      }
    }
  }
  @media (min-width: 1600px) {
    margin-bottom: 80px;
    &-title {
      font-size: 34px;
      line-height: 42px;
      bottom: 46px;
      div {
        span, h1, h2, h3 {
          font-size: 34px;
          line-height: 42px;
        }
        &:first-child {
          margin-bottom: 9px;
          &:before {
            transform: translateX(67px);
          }
        }
        &:last-child {
          &:before {
            transform: translateX(-67px);
          }
        }
      }
    }
  }
}

.grid-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
  margin-bottom: 25px;
  &-item {
    display: block;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 225px;
    flex: 0 0 150px;
    margin-left: 15px;
    margin-bottom: 15px;
    img {
      height: 100%;
    }
  }
  &-title {
    position: absolute;
    bottom: 15px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(148, 148, 148, 0.6);
    }
    div {
      position: relative;
      text-align: center;
      color: #fff;
    }
  }
  &-title-transparent {
    h1, h2, h3 {
      position: absolute;
      bottom: 15px;
      width: 100%;
      padding: 0 11px;
      margin: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
    }
  }
  @media (min-width: 768px) {
    justify-content: center;
    margin-left: -18px;
    &-item {
      position: relative;
      overflow: hidden;
      width: 216px;
      flex: 0 0 216px;
      height: 326px;
      margin-bottom: 18px;
      margin-left: 18px;
    }
    &-title {
      font-size: 18px;
      line-height: 23px;
    }
    &-title-bg {
      bottom: 21px;
    }
    &-title-transparent {
      h1, h2, h3 {
        padding: 0 16px;
        padding-bottom: 21px;
      }
    }
  }
  @media (min-width: 1024px) {
    margin-left: -22px;
    &-item {
      width: 270px;
      flex: 0 0 270px;
      height: 410px;
      margin-left: 22px;
      margin-bottom: 22px;
    }
    &-title {
      font-size: 30px;
      line-height: 30px;
    }
    &-title-bg {
      bottom: 27px;
    }
    &-title-transparent {
      h1, h2, h3 {
        bottom: 26px;
        padding: 0 21px;
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
  @media (min-width: 1280px) {
    margin-left: -28px;
    &-item {
      width: 354px;
      flex: 0 0 354px;
      height: 530px;
      margin-left: 28px;
      margin-bottom: 28px;
    }
    &-title {
      font-size: 37px;
      line-height: 39px;
    }
    &-title-bg {
      bottom: 35px;
    }
    &-title-transparent {
      h1, h2, h3 {
        bottom: 35px;
        font-size: 34px;
        line-height: 42px;
      }
      &-big {
        h1, h2, h3 {
          bottom: 26px;
          font-size: 50px;
          line-height: 50px;
        }
      }
    }
  }
  @media (min-width: 1600px) {
    &-item {
      width: 481px;
      flex: 0 0 481px;
      height: 720px;
      margin-bottom: 38px;
    }
    &-title {
      bottom: 21px;
      font-size: 34px;
      line-height: 42px;
    }
    &-title-bg {
      bottom: 48px;
    }
    &-title-transparent {
      h1, h2, h3 {
        padding: 0 37px;
        bottom: 48px;
      }
    }
  }
}

.grid-snap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
  &-item {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    img {
      height: 100%;
    }
  }
  @media (min-width: 768px) {
    &-item {
      position: relative;
      overflow: hidden;
      width: 49%;
      flex: 0 0 49%;
    }
  }
  @media (min-width: 1024px) {
  }
  @media (min-width: 1280px) {
  }
  @media (min-width: 1600px) {
  }
}

.grid-video {
  &-item {
    display: block;
    position: relative;
    overflow: hidden;
    width: 214px;
    height: auto;
    margin: 0 auto 45px;
    video {
      width: 100%;
      height: auto;
    }
  }
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-left: -26px;
    &-item {
      position: relative;
      overflow: hidden;
      width: 214px;
      flex: 0 0 214px;
      margin-bottom: 18px;
      margin-left: 26px;
    }
  }
  @media (min-width: 1024px) {
    margin-left: -22px;
    &-item {
      width: 270px;
      flex: 0 0 270px;
      margin-left: 22px;
      margin-bottom: 22px;
    }
  }
  @media (min-width: 1280px) {
    margin-left: -28px;
    &-item {
      width: 354px;
      flex: 0 0 354px;
      margin-left: 28px;
      margin-bottom: 28px;
    }
  }
  @media (min-width: 1600px) {
    &-item {
      width: 481px;
      flex: 0 0 481px;
      margin-bottom: 38px;
    }
  }
}
