/*------------------------------------*\
  Header
\*------------------------------------*/
.header {
	position: fixed;
  top: 0;
	z-index: 5;
	width: 100%;
  background-color: #fff;
  transition: all ease .3s;
  &-fixed {
    position: fixed;
  }
	&-container {
		display: flex;
		align-items: center;
    padding: 30px 48px 35px 48px;
	}
	&-logo {
    display: block;
		width: 90px;
		height: 60px;
		flex: 0 0 90px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: contain;
	}
	&-nav-top {
		display: none;
	}
	&-icon {
		position: relative;
		top: 4px;
		margin-left: auto;
	}
  &-nav-top {
    display: none;
  }
  &-nav-bottom {
    display: none;
  }
  &-phone {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $color-text;
    text-decoration: none;
  }
  &-bg-transparent {
    background-color: transparent;
  }
	@media( min-width: 768px) {
    &-fixed {
      position: fixed;
    }
		&-container {
      align-items: center;
      padding: 25px 0 35px;
		}
		&-logo {
			width: 240px;
			height: 58px;
		}
    &-nav {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      width: 100%;
      margin-right: 56px;
    }
    &-nav-top {
      display: block;
      margin-left: auto;
    }
    &-nav-bottom {
      margin-left: auto;
    }
    &-bg-transparent {
      background-color: transparent;
    }
	}
	@media( min-width: 1024px) {
    &-fixed {
      position: fixed;
    }
		&-icon {
			display: none;
		}
		&-container {
      align-items: center;
		}
    &-menu {
			position: relative;
    	top: 4px;
			display: block;
			margin-left: auto;
			margin-right: 242px;
		}
    &-nav {
      margin-right: 0;
    }
    &-nav-top {
      margin-bottom: 4px;
    }
    &-nav-bottom {
      display: block;
    }
    &-bg-transparent {
      background-color: transparent;
    }
	}
  @media( min-width: 1280px) {
    position: relative;
    &-fixed {
      position: fixed;
    }
  }
}

.header-menu {
  @include clearlist();
  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 28px;
    }
    &.active {
      a {
        color: $color-accent;
      }
    }
    a {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $color-text;
      text-decoration: none;
    }
  }
}

/*------------------------------------*\
  Header Logo Images + PNG Fallback
\*------------------------------------*/
.webp .header-logo {
  background-image: url(../img/win-logo-cut.webp);
}
.no-webp .header-logo {
  background-image: url(../img/win-logo-cut.png);
}

/*------------------------------------*\
  Nav Burger Icon
\*------------------------------------*/
$iconWidth: 40px;
$iconLineHeight: 4px;
$iconLineGap: 6px;
$colorDefault: #000;
$colorActive: #000;
.nav-icon {
  width: $iconWidth;
  height: $iconLineHeight * 3 + $iconLineGap * 2;
  transform: rotate(0deg);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  &:hover,
  &:focus {
    outline: none;
  }
  span{
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: $iconLineHeight;
    background-color: $colorDefault;
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
  }
  &:before,
  &:after{
  	content: '';
  	position: absolute;
  	left: 0;
  	display: block;
  	width: 100%;
  	background-color: $colorDefault;
  	transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
  }
  &:before{
  	top: $iconLineHeight + $iconLineGap;
  	height: $iconLineHeight;
  }
  &:after{
  	top:  $iconLineHeight * 2 + $iconLineGap * 2;
  	height: $iconLineHeight;
  }
  &.active {
    span{
    	background-color: #000;
      transform: translateY($iconLineHeight + $iconLineGap) rotate(45deg);
    }
    &:before{
    	width: 0;
    	transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
    }
    &:after{
    	background-color: #000;
    	transform: translateY(-$iconLineHeight + -$iconLineGap) rotate(-45deg);
    }
  }
}
@media (min-width: 768px) {
  $iconWidth: 40px;
  $iconLineHeight: 6px;
  $iconLineGap: 5px;
  .nav-icon {
    width: $iconWidth;
    height: $iconLineHeight * 3 + $iconLineGap * 2;
    transform: rotate(0deg);
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    &:hover,
    &:focus {
      outline: none;
    }
    span{
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: $iconLineHeight;
      background-color: $colorDefault;
      transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
    }
    &:before,
    &:after{
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      background-color: $colorDefault;
      transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
    }
    &:before{
      top: $iconLineHeight + $iconLineGap;
      height: $iconLineHeight;
    }
    &:after{
      top:  $iconLineHeight * 2 + $iconLineGap * 2;
      height: $iconLineHeight;
    }
    &.active {
      span{
        background-color: #000;
        transform: translateY($iconLineHeight + $iconLineGap) rotate(45deg);
      }
      &:before{
        width: 0;
        transition: all .5s cubic-bezier(.68, -.55, .265, 1.55);
      }
      &:after{
        background-color: #000;
        transform: translateY(-$iconLineHeight + -$iconLineGap) rotate(-45deg);
      }
    }
  }
}