/*------------------------------------*\
  Mobile Static Image Replacer for Slider
\*------------------------------------*/
.intro-mob {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (min-width: 1023px) {
    display: none;
  }
}

.intro-desk {
  display: none;
  @media (min-width: 1024px) {
    display: block;
  }
}

/*------------------------------------*\
  Team
\*------------------------------------*/
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 100vw;
  height: 100vh;
  .swiper-slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}

