/*------------------------------------*\
  Sidebar
\*------------------------------------*/
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 6;
	width: 100%;
	height: 100%;
	padding: 70px 25px 20px 35px;
	background-color: #fff;
	overflow-y: scroll;
	transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
	transition: all ease-in-out .3s;
  &-fixed {
  	position: fixed;
  	top: 0;
  	z-index: 3;
  }
  &-absolute {
  	position: absolute;
  	top: 0;
  	z-index: 3;
  }
	&.active {
    visibility: visible;
    opacity: 1;
		transform: translateX(0);
	}
  .nav-icon {
    position: absolute;
    top: 44px;
    right: 50px;
  }
	&-body {
		margin-bottom: 70px;
	}
  &-footer {
    .sidebar-link {
      margin-bottom: 22px;
      &:first-child {
        margin-bottom: 60px;
      }
    }
  }
  &-link {
    display: block;
    max-width: 260px;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: $color-text;
  }
	@media (min-width: 360px) {
    padding: 70px 45px 20px 70px;
  }
  @media (min-width: 768px) {
    width: 360px;
    left: auto;
  }
	@media (min-width: 1280px) {
		width: 360px;
		top: 0;
    right: -360px;
    left: initial;
    padding: 70px 45px 20px 70px;
		transform: translateX(0);
		overflow-y: visible;
		&-header {
			margin-bottom: 69px;
		}
		&-body {
			margin-bottom: 92px;
		}
	}
}

.sidebar-menu {
  position: relative;
  @include clearlist();
  li {
    .active {
      a {
        color: $color-accent;
      }
    }
    &:not(:last-child) {
      margin-bottom: 23px;
    }
    a {
			font-weight: 600;
			font-size: 26px;
      line-height: 32px;
      color: $color-text;
      text-transform: none;
      white-space: nowrap;
      text-decoration: none;
    }
  }
}
