/*------------------------------------*\
  Page Title
\*------------------------------------*/
.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  .breadcrumbs {
    display: none;
  }
  &-text {
    max-width: 1080px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  @media (min-width: 768px) {
    padding-top: 4px;
    .title {
      margin-bottom: 2px;
    }
    .breadcrumbs {
      display: block;
    }
  }
  @media (min-width: 1024px) {
    margin-top: 40px;
    margin-bottom: 35px;
    .breadcrumbs {
      margin-top: 5px;
    }
    &-text {
      font-size: 20px;
      line-height: 24px;
    }
  }
  @media (min-width: 1280px) {
    margin-top: 52px;
    .breadcrumbs {
      margin-top: 0;
    }
    &-text {
      margin-top: 40px;
    }
  }
}

.title {
  h1, h2, h3, {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
  }
  &-semibold {
    h1, h2, h3 {
      font-weight: 500;
    }
  }
  &-medium {
    h1, h2, h3 {
      margin-bottom: 19px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }
  @media (min-width: 768px) {
    h1, h2 {
      font-size: 36px;
      line-height: 36px;
    }
    &-medium {
      h1, h2, h3 {
        margin-bottom: 19px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  @media (min-width: 1024px) {
    h1, h2 {
      font-size: 42px;
      line-height: 51px;
    }
    &-medium {
      h1, h2, h3 {
        margin-bottom: 55px;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
      }
    }
  }
}

/*------------------------------------*\
  Social links
\*------------------------------------*/
.social {
  display: flex;
  align-items: center;
  &-item{
    display: block;
    width: 40px;
    height: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    &:not(:last-child){
      margin-right: 20px;
    }
    &-fb {
      width: 21px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256.02' height='512' viewBox='0 0 256.02 512'%3E%3Cpath d='M209.28,85H256V3.61C248,2.5,220.22,0,187.93,0,120.53,0,74.37,42.39,74.37,120.3V192H0v91H74.37V512h91.18V283h71.36l11.32-91h-82.7v-62.7c0-26.3,7.1-44.31,43.75-44.31Z'/%3E%3C/svg%3E");
    }
    &-in {
      width: 39px;
      height: 38px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cpath d='M33.48,50A16.67,16.67,0,1,1,50.14,66.67,16.67,16.67,0,0,1,33.48,50Zm-9,0A25.68,25.68,0,1,0,50.14,24.33,25.67,25.67,0,0,0,24.47,50ZM70.84,23.31a6,6,0,0,0,1,3.33,5.88,5.88,0,0,0,2.69,2.21A5.94,5.94,0,0,0,78,29.2a6.07,6.07,0,0,0,3.08-1.65,5.91,5.91,0,0,0,1.64-3.07A6,6,0,0,0,82.38,21a6,6,0,0,0-5.54-3.71h0a6,6,0,0,0-6,6ZM29.94,90.7A27.72,27.72,0,0,1,20.66,89a15.48,15.48,0,0,1-5.75-3.74,15.36,15.36,0,0,1-3.74-5.75,27.46,27.46,0,0,1-1.72-9.28c-.24-5.27-.29-6.86-.29-20.21s.05-14.93.29-20.21a27.72,27.72,0,0,1,1.72-9.28,15.56,15.56,0,0,1,3.74-5.75A15.36,15.36,0,0,1,20.66,11,27.46,27.46,0,0,1,29.94,9.3C35.21,9.06,36.8,9,50.14,9s14.94.05,20.21.29A27.8,27.8,0,0,1,79.64,11a15.44,15.44,0,0,1,5.75,3.74,15.56,15.56,0,0,1,3.74,5.75,27.74,27.74,0,0,1,1.72,9.29c.24,5.27.29,6.85.29,20.2s0,14.93-.29,20.21a28,28,0,0,1-1.72,9.28A16.55,16.55,0,0,1,79.64,89a27.48,27.48,0,0,1-9.29,1.72c-5.27.24-6.85.29-20.21.29s-14.93,0-20.2-.29ZM29.53.3A36.79,36.79,0,0,0,17.39,2.63,24.43,24.43,0,0,0,8.54,8.39a24.41,24.41,0,0,0-5.77,8.86A36.51,36.51,0,0,0,.45,29.39C.2,34.72.14,36.42.14,50S.2,65.28.45,70.61A36.51,36.51,0,0,0,2.77,82.75a24.41,24.41,0,0,0,5.77,8.86,24.61,24.61,0,0,0,8.85,5.76A36.85,36.85,0,0,0,29.53,99.7c5.33.24,7,.3,20.61.3s15.29-.06,20.62-.3A36.79,36.79,0,0,0,82.9,97.37,25.55,25.55,0,0,0,97.52,82.75a36.51,36.51,0,0,0,2.32-12.14c.24-5.33.3-7,.3-20.61s-.06-15.28-.3-20.61a36.51,36.51,0,0,0-2.32-12.14,24.63,24.63,0,0,0-5.77-8.86A24.43,24.43,0,0,0,82.9,2.63,36.54,36.54,0,0,0,70.76.3c-5.33-.24-7-.3-20.61-.3S34.87.06,29.53.3' transform='translate(-0.14)'/%3E%3C/svg%3E");
    }
    &-in-accent {
      width: 39px;
      height: 38px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23E6007E' viewBox='0 0 100 100'%3E%3Cpath d='M33.48,50A16.67,16.67,0,1,1,50.14,66.67,16.67,16.67,0,0,1,33.48,50Zm-9,0A25.68,25.68,0,1,0,50.14,24.33,25.67,25.67,0,0,0,24.47,50ZM70.84,23.31a6,6,0,0,0,1,3.33,5.88,5.88,0,0,0,2.69,2.21A5.94,5.94,0,0,0,78,29.2a6.07,6.07,0,0,0,3.08-1.65,5.91,5.91,0,0,0,1.64-3.07A6,6,0,0,0,82.38,21a6,6,0,0,0-5.54-3.71h0a6,6,0,0,0-6,6ZM29.94,90.7A27.72,27.72,0,0,1,20.66,89a15.48,15.48,0,0,1-5.75-3.74,15.36,15.36,0,0,1-3.74-5.75,27.46,27.46,0,0,1-1.72-9.28c-.24-5.27-.29-6.86-.29-20.21s.05-14.93.29-20.21a27.72,27.72,0,0,1,1.72-9.28,15.56,15.56,0,0,1,3.74-5.75A15.36,15.36,0,0,1,20.66,11,27.46,27.46,0,0,1,29.94,9.3C35.21,9.06,36.8,9,50.14,9s14.94.05,20.21.29A27.8,27.8,0,0,1,79.64,11a15.44,15.44,0,0,1,5.75,3.74,15.56,15.56,0,0,1,3.74,5.75,27.74,27.74,0,0,1,1.72,9.29c.24,5.27.29,6.85.29,20.2s0,14.93-.29,20.21a28,28,0,0,1-1.72,9.28A16.55,16.55,0,0,1,79.64,89a27.48,27.48,0,0,1-9.29,1.72c-5.27.24-6.85.29-20.21.29s-14.93,0-20.2-.29ZM29.53.3A36.79,36.79,0,0,0,17.39,2.63,24.43,24.43,0,0,0,8.54,8.39a24.41,24.41,0,0,0-5.77,8.86A36.51,36.51,0,0,0,.45,29.39C.2,34.72.14,36.42.14,50S.2,65.28.45,70.61A36.51,36.51,0,0,0,2.77,82.75a24.41,24.41,0,0,0,5.77,8.86,24.61,24.61,0,0,0,8.85,5.76A36.85,36.85,0,0,0,29.53,99.7c5.33.24,7,.3,20.61.3s15.29-.06,20.62-.3A36.79,36.79,0,0,0,82.9,97.37,25.55,25.55,0,0,0,97.52,82.75a36.51,36.51,0,0,0,2.32-12.14c.24-5.33.3-7,.3-20.61s-.06-15.28-.3-20.61a36.51,36.51,0,0,0-2.32-12.14,24.63,24.63,0,0,0-5.77-8.86A24.43,24.43,0,0,0,82.9,2.63,36.54,36.54,0,0,0,70.76.3c-5.33-.24-7-.3-20.61-.3S34.87.06,29.53.3' transform='translate(-0.14)'/%3E%3C/svg%3E");
    }
    &-tw {
      width: 37px;
      height: 32px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='543.68' height='460.39' viewBox='0 0 543.68 460.39'%3E%3Cpath d='M527.66,106.7q-4,1.17-8,2.19c-16.39,4.14-17.89-1.32-6-13.37a109.26,109.26,0,0,0,14.08-17.6c9.14-14.22,1.21-20.42-14.33-13.78q-8.33,3.56-16.9,6.43c-16,5.38-38.75-2.73-53-11.79q-27-17.13-61.44-17.13-48.19,0-82.19,34t-34,82.19a121.63,121.63,0,0,0,.75,13.38c.81,7.36-11.59,12.7-28.32,10.34a321.61,321.61,0,0,1-103.17-32.89A330.88,330.88,0,0,1,49.49,85.71c-11.82-12.09-27.8-11-32.22,5.27a116.58,116.58,0,0,0-3.95,30.52,113.2,113.2,0,0,0,14,55.39,119.38,119.38,0,0,0,16.35,23C54.22,211.43,52.61,218.14,38,214s-25.37-10.2-25.37-9.8V205Q12.59,247,39,278.86a115.58,115.58,0,0,0,37.83,30.28c15.15,7.5,22.2,11.69,13.73,12.78a118.48,118.48,0,0,1-15.42,1q-5.25,0-11-.49c-6.06-.51-7.15,12.11,2,26.3a116.26,116.26,0,0,0,28,29.76,113.81,113.81,0,0,0,37.41,18.8c16.26,4.63,19.52,13.07,5,21.76Q82.88,451.33,17.62,451.33q-7.35,0-14-.33C-4.18,450.63,1,457.46,16,465.3Q86.16,502.05,168,502q61.86,0,116.18-19.6t92.79-52.52a351.3,351.3,0,0,0,66.36-75.71,337.43,337.43,0,0,0,41.55-89.37A330.52,330.52,0,0,0,498.5,171.5c0-2.81,0-5.34-.06-7.56-.09-4.17,10.95-15.47,23.28-27q8.34-7.83,15.93-16.44C548.83,107.78,543.88,102,527.66,106.7Z' transform='translate(0 -41.65)'/%3E%3C/svg%3E%0A");
    }
  }
  &-small {
    .social-item-in {
      width: 23px;
      height: 23px;
    }
    .social-item-fb {
      width: 12px;
      height: 23px;
    }
    .social-item-tw {
      width: 23px;
      height: 19px;
    }
  }
}

/*------------------------------------*\
  Breadcrumbs
\*------------------------------------*/
.breadcrumbs {
  @include clearlist();
  line-height: 15px;
  li {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    a {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-decoration: none;
      color: $color-accent;
      transition: all ease .3s;
    }
    &:not(:last-child) {
      &:after {
        content: '>';
        display: inline-block;
        font-size: 16px;
        line-height: 20px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    &:last-child {
      a {
        color: $color-text;
        pointer-events: none;
        transition: all ease .3s;
      }
    }
  }
}

/*------------------------------------*\
  Content Text Blocks
\*------------------------------------*/
.content {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  p {
    margin-top: 0;
  }
  @media (min-width: 768px) {
    &-about {
      width: 680px;
      margin: 0 auto;
    }
  }
  @media (min-width: 1024px) {
    margin-bottom: 80px;
    font-size: 20px;
    line-height: 24px;
    &-about {
      width: 858px;
    }
  }
  @media (min-width: 1280px) {
    &-about {
      width: 1100px;
    }
  }
}

.clear-list {
  @include clearlist();
}

/*------------------------------------*\
  Team
\*------------------------------------*/
.team-block {
  margin-top: 60px;
  margin-bottom: 75px;
  .team-member {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
  @media (min-width: 768px) {
    margin-top: 99px;
  }
}
.team-member {
  &-title {
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
  }
  &-avatar {
    display: block;
    width: 221px;
    height: auto;
    margin: 0 auto 18px;
    border-radius: 100%;
  }
  &-subtitle {
    margin-bottom: 19px;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
  }
  &-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
  @media (min-width: 768px) {
    width: 608px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 1024px) {
    width: 860px;
    &-title {
      font-size: 30px;
      line-height: 37px;
    }
    &-subtitle {
      margin-bottom: 14px;
    }
  }
  @media (min-width: 1280px) {
    width: 1152px;
  }
}

.reviews {
  margin-bottom: 70px;
  text-align: center;
  &-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
  }
  &-link {
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
  }
  @media (min-width: 1280px) {
    margin-bottom: 90px;
  }
}

.models-nav-text {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  ul {
    @include clearlist();
    li {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      a {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: $color-text;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
  @media (min-width: 768px) {
    display: none;
  }
}

/*------------------------------------*\
  Logo Grids
\*------------------------------------*/
.logo-clients-wrap {
  display: none;
  @media (min-width: 768px) {
    display: block;
    width: 630px;
    margin: 0 auto;
    margin-bottom: 70px;
    .title {
      margin-bottom: 40px;
    }
  }
  @media (min-width: 1024px) {
    width: 860px;
  }
  @media (min-width: 1280px) {
    width: 100%;
  }
  @media (min-width: 1600px) {
    width: 1300px;
  }
}

.logo-clients {
  // display: flex;
	// flex-wrap: wrap;
  // justify-content: center;
	// align-items: center;
	width: 100%;
  max-width: 1300px;
	margin: 0 auto;
  text-align: center;
	&-item {
    display:inline-block;
    margin: 15px;
    svg,
    picture,
		img {
			display: block;
	    width: auto;
	    max-width: 100%;
	    height: 36px;
	    margin: 0 auto;
	    transition: all ease-in-out .3s;
		}
	}
	&-item-inner {
		display: flex;
		align-items: center;
		height: 100%;
	}
  @media (min-width: 1280px) {
    &-item {
      svg,
      picture,
      img {
        height: 50px;
      }
    }
  }
}

/*------------------------------------*\
  Person Info
\*------------------------------------*/
.person-info {
  margin-top: 22px;
  margin-bottom: 60px;
  &-data {
    text-align: center;
    font-weight: 300;
    line-height: 24px;
    font-size: 20px;
  }
  &-insta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    .social {
      &-item {
        width: 26px;
        height: 26px;
      }
    }
    &-name {
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      color: $color-accent;
      text-decoration: none;
    }
    &-subs {
      margin-top: 3px;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }
  }
  @media (min-width: 1024px) {
    margin-top: 47px;
    margin-bottom: 79px;
    &-insta {
      margin-top: 29px;
    }
  }
}

/*------------------------------------*\
  Tabs
\*------------------------------------*/
.tab-head {
  margin: 20px 0 40px;
  &-btn {
    margin: 5px 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: $color-accent;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    &.active {
      color: $color-text;
    }
  }
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    &-btn {
      padding: 6.5px 30px;
      color: $color-text;
      font-size: 24px;
      line-height: 1;
      text-transform: capitalize;
      &.active {
        background-color: #000;
        color: #fff;
      }
    }
    &-mob {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    margin: 20px 0 60px;
  }
}

.tab-body {
  &-item {
    display: none;
  }
  &-title-mob {
    display: none;
  }
  @media (min-width: 768px) {
    &-title-mob {
      display: block;
    }
  }
}

/*------------------------------------*\
  More Links Block
\*------------------------------------*/
.more-link-block {
  margin-top: 60px;
  &-title {
    h1, h2, h3, h4 {
      margin: 0 0 40px;
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      text-align: center;
    }
  }
  @media (min-width: 1280px) {
    &-title {
      h1, h2, h3, h4 {
        font-size: 32px;
        line-height: 39px;
      }
    }
  }
  @media (min-width: 1600px) {
    &-title {
      h1, h2, h3, h4 {
        margin: 0 0 28px;
        font-size: 36px;
        line-height: 44px;
      }
    }
  }
}

.more-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  &-item {
    display: flex;
    align-items: center;
    width: 360px;
    height: 140px;
    padding: 20px;
    border: 1px solid #C4C4C4;
    text-decoration: none;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &-img {
    width: 100px;
    height: 100px;
    margin-right: 40px;
  }
  &-title {
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    color: $color-text;
    text-transform: uppercase;
    text-decoration: none;
  }
  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 1280px) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -20px;
    &-item {
      margin-bottom: 20px;
      margin-left: 20px;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  @media (min-width: 1600px) {
    margin-left: -40px;
    margin-bottom: 53px;
    &-item {
      margin-left: 40px;
    }
  }
}

/*------------------------------------*\
  Choose Region Map
\*------------------------------------*/
.map-region-tabs {
  display: none;
  @media (min-width: 768px) {
    display: block;
    max-width: 1005px;
    margin: 0 auto 50px;
    svg {
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
}

.map-region {
  .tab-head-btn {
    path {
      fill: #e5e5e5;
    }
    .map-region-title {
      fill: #000;
    }
  }
  .tab-head-btn.active {
    path {
      fill: #000;
    }
    path.map-region-title {
      fill: #fff!important;
    }
  }
}

/*------------------------------------*\
  Map Location
\*------------------------------------*/
#map {
  width: 100%;
  height: 500px;
}

.map-mob {
  width: 100%;
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-width: 1024px) {
    display: none;
  }
}

.map-desk {
  @media (max-width: 1023px) {
    height: 0 !important;
    opacity: 0;
    visibility: hidden;
  }
}

.list-brand-mob {
  @include clearlist();
  li {
    a {
      display: block;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: $color-accent;
      text-align: center;
      text-decoration: none;
    }
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.logo-brand {
  display: none;
  @media (min-width: 768px) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &-item {
      display: inline-block;
      flex: 0 0 33.3%;
      height: 161px;
      align-self: center;
      margin-right: -1px;
      margin-bottom: -1px;
      padding: 0 4px 8px;
      svg,
      picture,
      img {
        display: block;
        width: auto;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        transition: all ease-in-out .3s;
      }
      &:hover,
      &:active {
        svg,
        picture,
        img{
          transform: scale(1);
        }
      }
    }
    &-wrap {
      display: flex;
      align-items: center;
      padding: 30px 40px;
      height: 100%;
      border: 1px solid #c4c4c4;
    }
  }
  @media (min-width: 1024px) {
    width: 760px;
    margin: 0 auto;
    &-item {
      height: 178px;
      padding: 0 5px 10px;
    }
  }
  @media (min-width: 1280px) {
    width: 1020px;
    margin: 0 auto;
    &-item {
      flex: 0 0 25%;
      padding: 0 5px 10px;
    }
  }
  @media (min-width: 1600px) {
    width: 100%;
    &-item {
      flex: 0 0 16.6%;
    }
  }
}

.contacts-info {
  margin: 40px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

